@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Permanent+Marker&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg: #3F776E;
  --bg-secondary: #353338;
  --text: #fff;
  --button: linear-gradient(90deg, white 0%, rgb(200,200,200) 100%);
  --highlight: #7B61FF;
  --highlight-secondary: #C9D80B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
	box-sizing: border-box;
	color: var(--text);
}

.montserrat {
	font-family: 'Montserrat', sans-serif;
}

.gamaamli {
	font-family: 'Ga Maamli', cursive;
}

.permanent-marker {
	font-family: 'Permanent Marker', cursive;
}

.theme-highlight-secondary {
	color: var(--highlight-secondary);
	text-shadow: 0 0 3px black;
}

.theme-bg-blur {
	background-color: rgba(var(--background-start-rgb), 0.8);
}

.theme-bg {
	background-color: var(--bg);
}

.theme-bg-secondary {
	background-color: var(--bg-secondary);
}

.theme-text {
	color: var(--text);
}

.theme-button {
	border: none;
	padding: 0.3rem 0.75rem;
	background: var(--button);
	color: black;
	cursor: pointer;
	transition: all 0.3s;
}

.theme-button:hover {
	filter: brightness(1.1);
	transform: scale(1.01);
}

@media screen and (min-width: 768px) {
	.theme-button {
		padding: 0.5rem 1rem;
	}
}

.theme-highlight {
	color: var(--highlight);
}

.theme-highlight-bg {
	background-color: var(--highlight);
}

.home-gradient {
	background:
		linear-gradient(
			70deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 1) 100%
		),
		linear-gradient(
			250deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 1) 100%
		)
		;
}

body {
	width: 100dvw;
	height: 100dvh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hide-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
	width: 0;
	height: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
